
<app-banner texto1="Los mejores" texto2="zapatos" texto3="de la actualidad" ></app-banner>
<div class="row mb-5">
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let item of zapatos">
        <div class="card">
            <img class="card-img-top text-center mx-auto d-block" src="{{item.img | imagenTraer:'ropas'}}" alt="">
            <div class="card-body"> 

              <form [formGroup]="form" ngNativeValidate (ngSubmit)="ComprarZapatos(item._id)" >
                <h5 class="card-title text-uppercase text-center">{{item.nombre}}</h5>
                <div class="d-flex justify-content-between mt-3">
                    <p class="card-text font-weight-bold d-inline-block">Precio {{item.precio}}$</p>
                    <p class="card-text font-weight-bold d-inline-block">Stock {{item.stock}}</p>
                  </div>

                  <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" formControlName="cantidad" name="cantidad" required class="form-control" min="1" >

                  </div>

                <div class="form-group">
                    <label for="tallas">Seleccionar talla</label>
                    <select class="form-control" name="tallas" id="tallas">
                        <option selected>Seleccionar</option>
                        <option  value="10" >10</option>
                        <option  value="11">11</option>
                        <option  value="12" >12</option>
                        <option  value="13">13</option>
                        <option  value="14" >14</option>
                        <option  value="15">15</option>
                        <option  value="16" >16</option>
                        <option  value="17">17</option>
                        <option  value="18" >18</option>
                        <option  value="19">19</option>
                        <option  value="20" >20</option>
                        <option  value="21">21</option>
                    </select>
                  </div>
                <p class="card-text text-muted small " >cod {{item.codigo}} </p>
                <button type="submit" class="btn btn-outline-primary btn-block" >Comprar</button>
               
                <a class="btn btn-outline-success btn-block" >Al carrito</a>
              </form>
            </div>
        </div>
    </div>
</div>