
<app-banner texto1="Los mejores" texto2="zapatos" texto3="de la actualidad" ></app-banner>
<div class="row">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/imagenes/unnamed.png" alt="">
            <div class="card-body">
                <h5 class="card-title">Ropa 1</h5>
                <p class="card-text">Precio</p>
                <a href="" class="btn btn-outline-primary btn-block" >Comprar</a>
                <a href="" class="btn btn-outline-success btn-block" >Al carrito</a>
            </div>
        </div>
    </div>
</div>