<div class="row mb-5 bordes ">
    <div class="col">
        <h1 class="text-center  text-uppercase" > Agregar un producto  </h1>   
     </div>
</div>

<div class="row mb-5 formulario" *ngIf="SegundoFormulario==false" >
    <div class="col">

        <form #f="ngForm" ngNativeValidate   (ngSubmit)="Verificar(f)" >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre del producto</label>
                <input type="text" class="form-control" required ngModel name="nombre" id="nombre" placeholder="Nombre del producto">

              </div>
              <div class="form-group col-md-6">
                <label for="precio">Precio</label>
                <input type="number" name="precio" required ngModel class="form-control" id="precio" placeholder="Precio">

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="producto">Tipo de producto</label>
                <select id="producto" (ngModelChange)="modelChanged($event)" required name="producto" ngModel class="form-control">
                  <option selected>Seleccionar</option>
                  <option  value="ropas" >Ropa</option>
                  <option value="consolas">Consolas</option>
                  <option value="zapatos" >Zapatos</option>
                </select>
            </div>

                <div class="form-group   col-md-12" *ngIf="ropa || zapatos" > 
                <label for="Genero">Genero</label>
                <select required id="Genero" ngModel name="genero"  class="form-control">
                    <option selected>Seleccionar</option>
                    <option  value="F" >Hombre</option>
                    <option value="M">Mujer</option>

                  </select>
                </div>
              
            
            </div>

            <!--  Ropa  -->
            <div class="form-row animated animate__fadeInDown" *ngIf="ropa">
                    <div class="form-group  col-12 col-md-6">
                        <label for="tallass">Small Cantidad</label>
                        <input type="number" class="form-control" ngModel id="tallass" name="tallass">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="tallam">Midium Cantidad</label>
                        <input type="number" class="form-control" ngModel id="tallam" name="tallam">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="tallal">Large Cantidad</label>
                        <input type="number" class="form-control" ngModel id="tallal" name="tallal">
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="tallax">Extra Large Cantidad</label>
                      <input type="number" class="form-control" ngModel id="tallax" name="tallax">
                  </div>
            
              
            </div>

            <!--Consolas  -->

            <div class="form-row animated animate__fadeInDown" *ngIf="consolas">
                <div class="form-group col-md-12 ">
                    <label for="consola">Consola Cantidad</label>
                        <label for="tallas"></label>
                        <input type="number" class="form-control" ngModel id="consola" name="stock">  
                </div>
            </div>

            <!-- zapatos -->

            <div class="form-row animated animate__fadeInDown" *ngIf="zapatos">
              <div class="form-group col-md-12 ">
                  <label for="stock">Zapatos cantidad</label>
                      
                      <input type="number" class="form-control" ngModel id="stock" name="stock">  
              </div>

              <div class="form-group col-md-12  ">
                <label for="tallazapato">Seleccionar talla</label>
                <select id="tallazapato" name="tallazapato" ngModel class="form-control">
                  <option selected>Seleccionar</option>
                  <option  value="10" >10</option>
                  <option  value="11">11</option>
                  <option  value="12">12</option>
                  <option  value="13">13</option>
                  <option  value="14" >14</option>
                  <option  value="15">15</option>
                  <option  value="16" >16</option>
                  <option  value="17">17</option>
                  <option  value="18" >18</option>
                  <option  value="19">19</option>
                  <option  value="20" >20</option>
                  <option  value="21">21</option>
                </select>

            </div>

          </div>

            <button type="submit" class="btn btn-success btn-block">Enviar</button>
          </form>

    </div>
</div>

<div class="row mb-5 formulario" *ngIf="SegundoFormulario==true">
  <div class="col">
    <form #f2="ngForm" name="formulario2" ngNativeValidate  (ngSubmit)="SubirImagen(f2)"  >

      <label for="imagen"  >Selecciona una imagen </label>
      <div class="custom-file ">
     
        <input (change)="seleccionImage($event.target.files[0])" type="file" class="imagen mt-2" ngModel required name="imagen" id="imagen" >
        <label class="custom-file-label"   for="imagen">Selecciona una imagen</label>
      </div>
      <input type="submit" class="btn btn-success btn-block" >
    </form>
  </div>
</div>