<app-banner class="eliminar" texto1="Inicia sesión ¿No tienes cuenta?" texto2="Registrate!" texto3="" ></app-banner>

<div class="container-fluid mb-5">
  <div class="row  justify-content-center ">
    <div class="col-auto p-0 login">
      <div class="logo text-center">
        <h1 class="font-weight-bold text-white">Login</h1>
      </div>

      <img
        class="rounded mx-auto d-block"
        src="../../../assets/imagenes/head-659651_640.png"
        width="80"
        height="80"
        alt=""
      />

    <h2 class="text-center" >Ingrese sus credenciales</h2>

      <div class="form-row p-5">
        <div class="input-group col-12 mb-5">
          <div class="input-group-prepend">
            <span class="input-group-text morado" id="inputGroup-sizing-default"
              ><i class="fas fa-users"></i
            ></span>
          </div>
          <input
          placeholder="Ingrese su email"
            type="email"
            class="form-control"
            aria-label="Default"
            name="email"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>

        <div class="input-group col-12">
          <div class="input-group-prepend">
            <span class="input-group-text morado" id="inputGroup-sizing-default"
              ><i class="fas fa-key"></i
            ></span>
          </div>
          <input
          placeholder="Ingrese su contraseña"
            type="password"
            class="form-control"
            aria-label="Default"
            name="password"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block " > Enviar  </button>

      <p class="text-center mt-3">¿No tienes cuenta? <span> <a [routerLink]="['/registro']" >Registrate! </a>  </span> </p>

    </div>
  </div>
</div>
