.login{
    min-width: 25%;
    min-height: 70vh;
    background-color: #E5E8E8 ;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #797D7F  !important;
}

.morado{
    background: #5B2C6F ;
    color: white;
}

img{
    
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;

}


.logo{
    margin: 0px;
    padding: 35px;
    background-color: #5B2C6F ;
}

body{
    background: red;
}


.btn{
    background: #5B2C6F;
}

.btn:hover{
    background: #AF7AC5;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 575px){
    .login{
        min-width: 100vw;
        min-height: 100vh;
    }
    .eliminar{
        display: none;
    }
}