<nav class="navbar navbar-expand-lg navbar-light color ">
    <nav class="navbar navbar-light bg-light">
     
          <img src="../../../assets/imagenes/unnamed.png" width="40" height="30" alt="">
       
      </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="  ">
        <ul class="navbar-nav mr-auto  mr-5 ">
          <li class="nav-item  ">
            <a class="nav-link text-white" [routerLink]="['/articulos']" routerLinkActive="text-danger"  href="#"> <i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-store"></i>  Articulos
            </a>
            <div class="dropdown-menu elementos animated animate__fadeInDown " aria-labelledby="navbarDropdownMenuLink ">
              <a class="dropdown-item text-white " [routerLink]="['/zapatos']" routerLinkActive="router-link-active"  >Zapatos</a>
              <a class="dropdown-item text-white " [routerLink]="['/consolas']" routerLinkActive="router-link-active"  >Consolas</a>
              <a class="dropdown-item text-white " [routerLink]="['/ropa']" routerLinkActive="router-link-active"  >Ropa</a>
            </div>
          </li>

            <ng-container *ngIf="mostrar">

              <li class="nav-item text-white"  *ngFor="let item of menuAdmin">
                <a class="nav-link text-white" [routerLink]="[item.ruta]" routerLinkActive="router-link-active"  > <i class="{{item.icono}}"></i> {{item.titulo}}</a>
              </li>

            </ng-container>
            
          

            <li class="nav-item text-white ">
              <a class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="router-link-active" > <i class="fas fa-registered mr-1"></i>Login/registro</a>
            </li>
           
            <li class="nav-item text-white">
              <a class="nav-link text-white" *ngIf="Logeado"  (click)="salir()"  > <i class="fas fa-sign-out-alt"></i> Salir</a>
            </li>
            
         
            <div class="" *ngIf="this.Logeado">
              <li class="nav-item text-white">
              <span class="nav-link text-white"> Ya esta registrado  <span class="strong" >{{this.usuario.nombre}}</span>  </span> 
              </li>
            </div>
            
          
        </ul>
      </div>

    </div>
  </nav>