

<div class="row elemento fondo d-flex justify-content-start align-items-lg-center ">
    <div class="col-md-4    ">
        <div class="container justify-content-center aling-self-center px-5 text-white ">
            <h1 class="font-weight-bold text-uppercase text-white animated animate__fadeInDown animate__delay-2s" >Venta De Los Mejores Productos</h1>
            <p class="animated animate__lightSpeedInRight animate__delay-5s"> Compra todos los articulos que te interesen </p>
            <a href="#" class="btn btn-outline-info text-white   " >Compra ahora</a>
        </div>

    </div>

   
</div>

